body {
    background-image: url("https://cdn.discordapp.com/attachments/1035956094301896715/1064635607718051961/image.png");
    background-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.key {
    cursor: pointer;
    user-select: none;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.key:hover {
    animation-play-state: paused;
}

#stats {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: red;
    font-size: 50px;
}

@media only screen and (max-width: 1000px) {
    .key {
        font-size: 50px;
        animation: shake 0.01s infinite;
    }
}

@media only screen and (min-width: 1000px) {
    .key {
        font-size: 300px;
        animation: shake 0.01s infinite;
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(15deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-15deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}